<project name="BuildConfig" xmlns:maven="urn:maven-ant">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>
  <!-- Configure helpful stuff -->
  <property environment="env"/>
  <property name="wyrt.jar" value="${rootdir}/lib/wyrt-v0.1.1.jar"/>  
  <!-- Load the Maven Ant tasks so that we can work with Maven repositories. -->
  <typedef uri="urn:maven-ant" classpath="../lib/maven-ant-tasks-2.1.3.jar" resource="org/apache/maven/artifact/ant/antlib.xml"/>
  <!-- Set the classpath for Junit and its dependencies -->
  <maven:dependencies pathId="wyc.jar">
    <dependency groupId="org.whiley" artifactId="wyc" version="0.4.11"/>
  </maven:dependencies>
    <!-- Define the WyC build task -->
    <taskdef name="wyc" classname="wyc.util.AntTask">
      <classpath>
        <path refid="wyc.jar"/>
      </classpath>
    </taskdef>
</project>
